/*
Theme name: ThemeChild[2012]
Description: Child theme based on twentytwelve
Author: Santiago Castro
Version: 1.0
Template: twentytwelve
*/

@import url('../twentytwelve/style.css');

body.custom-font-enabled {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.site-header-home{
text-align: center !important;
color: #ffffff;
}

.site-header h1 a, .site-header h2 a {
    color: #ffffff;
    font-size: 3.5rem;
}

.site-header h1 a:hover, .site-header h2 a:hover {
    color: #a5a5a5;
}

h1,h2,h3{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#secondary{
  padding: 10px;
  background-color: #f3f3f2;
}

#page{
  background-color: #494949;
  color: #ffffff;
}

#menu-homepage {
  color: #ffffff;
  font-weight: 900;
}

strong{
  font-size: 1.5rem !important;
}

.menu-homepage-container{
  background-color: #ecebeb !important;
  padding: 0 10px;
}
